@import "reset.css";

body{
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h2{
    text-align: center;
    margin: 20px 20px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-decoration: underline;
}
.card-img-top{
    height: 300px;
    width: 300px;
}

.card-title{
    background-color: rgb(53, 104, 182);
    text-align: center;
    color: white;
}


.card-text{
    font-family: 'Sriracha', cursive;
}

.card-deck{
    margin:auto;
}
.card-footer{
    text-align: center;
    background-image: url(../images/back.png);
}
