@import "reset.css";

body{
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a:hover{
    font-weight: 500;
    font-family: 'Indie Flower', cursive;
   
}

nav{
    background-image: url(../images/Deep\ Space.jpg);
}

.dropdown-menu{
    background-color: rgb(218, 218, 77);
}